.container-fluid {
  width: 1280px !important;
  margin: 0 auto;
}

/* navbar css */
.navbab-wrapper .navbar {
  height: 80px;
  padding: 0;
  z-index: 999;
}

.navbab-wrapper.active {
  background: #fff;
  box-shadow: 0 2px 6px #0000001a;
  position: fixed;
  top: 0;
  transition: .4s ease-in-out;
  width: 100%;
  z-index: 999;
}

.navbar-menu .navbar-nav .nav-item .nav-link.active,
.navbar-menu .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-primary-600);
  position: relative;
}

.navbar-menu .navbar-nav .nav-item .nav-link {
  color: var(--bs-neutral-900);
  font-weight: 400;
  padding: 8px;
}

.sidebar-overlay {
  display: none;
}

/* navbar css */

.main-content {
  min-height: calc(100vh - 138px);
  padding-top: 24px;
}

.footer {
  padding: 24px 0 14px 0;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--bs-neutral-100);
  padding: 10px;
}

.home-banner {
  background: linear-gradient(256.24deg, rgba(255, 195, 152, 0.2) 26.56%, rgba(255, 234, 190, 0.3) 100%);
}

.z-index-10 {
  z-index: 10;
}

.animate-heading {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }

  .Typewriter {
    color: var(--bs-primary-500);
    font-weight: 600;
  }
}

.proffessional-skills {
  margin-top: 104px;

  .section-title {
    margin-bottom: -58px;
  }
}

.my-service {
  margin-top: 104px;
}

.service-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.service-grid-item {
  padding: 50px 30px;
  border: 1px solid #ffe2d1;
  border-radius: 6px;
  transition: all 0.3s;
}

.service-grid-item:hover {
  background-color: var(--bs-primary-50);
  border: 1px solid transparent;
}

.footer {
  margin-top: 80px;
}

.home-contact {
  margin-top: 104px;
}

.home-contact {
  .row.mt-5 {
    margin-right: -14px;
    margin-left: -14px;

    .col-12 {
      padding: 0 14px;
    }

  }
}

.contact-info {
  a {
    font-size: 16px;
    /* font-weight: 500; */
    color: var(--bs-neutral-500);

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.home-banner .social-media {
  position: absolute;
  right: 24px;

  .icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }
}

.about-resume-page .progressbar {
  box-shadow: none;
  margin-bottom: 15px;
}

.contact-cta {
  margin-top: 104px;
}

.cta-container {
  background-image: url(./assets/conactCtaBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: MoveBg;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position: center center;
  padding: 85px 30%;
  border-radius: 10px;
}

@keyframes MoveBg {
  0% {
    background-position: center top;
  }

  25% {
    background-position: right center;
  }

  50% {
    background-position: center bottom;
  }

  75% {
    background-position: left center;
  }

}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progress-wrapper .progress-bar {
  color: var(--bs-white);
  background-color: var(--bs-primary-500);
}

.about-counter {
  margin-top: 80px;
}

.counter-wrapper {
  background-color: rgb(255, 243, 234);
  padding: 55px 30px;
  border-radius: 8px;
}

.counter-seperator {
  border-right: 1px solid rgb(231, 220, 212);
}

.counter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.resume {
  margin-top: 80px;
}

.key-skill-wrapper {
  margin-top: 80px;
}

/* .skillContainer {
  width: 780px;
  margin: 0 auto;
} */
/* .key-skill-wrapper {
  background: var(--bs-primary-50);
  padding: 48px 0;
} */

.skillContainer {
  .row {
    gap: 8px;
    flex-direction: column;

    .skill-title {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.skill-content ul li::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--bs-primary-500);
}

.skill-content ul li {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: var(--bs-neutral-400);
}

.skill-content ul li p {
  width: calc(100% - 18px);
}

.react-tabs {
  margin-top: 24px;
}

.react-tabs__tab-list {
  display: flex;
  gap: 14px;
  border: 1px solid var(--bs-primary-500);
  border-radius: 4px;
  padding: 8px 16px;
  width: fit-content;

  .react-tabs__tab {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 280px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .react-tabs__tab:hover,
  .react-tabs__tab:focus {
    background: var(--bs-primary-500);
    color: var(--bs-white);
  }
}

.react-tabs__tab--selected {
  background: var(--bs-primary-500);
  color: var(--bs-white);
}

.react-tabs__tab-panel {
  margin-top: 24px;
}

.resume-content {
  .icon {
    width: 64px;
    height: 64px;
    border: 1px solid var(--bs-neutral-300);
    border-radius: 50%;
    padding: 10px;

    img {
      border-radius: 50%;
    }
  }

  .content {
    width: calc(100% - 80px);
  }
}

.skills-item .icon_title {
  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--bs-primary-50);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: var(--bs-primary-500);
  }
}

.CircularProgressbar .CircularProgressbar-text {
  fill: var(--bs-primary-500) !important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--bs-primary-500) !important;
  stroke-linecap: round;
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}



.progress-wrapper .circle-progress-bar {
  width: 94px;
  /* height: 84px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.professional-experience .skills-item {
  border-top: 1px solid var(--bs-neutral-300);
  padding-top: 14px;
}